[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Pipewire Stack Autostart
Comment=
Exec=/home/naveta/scripts/pipewire-stack
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
